.boxfooter {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 5rem 6rem;
  gap: 3rem;
  flex-wrap: wrap;
  background-color: black;
  color: white;



 .logo {
   flex-direction: row;
  display: flex;
  gap: 0.6rem;
   align-items: center;
}

a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: 600;
}
  .par {
    font-size: 1rem;
    margin-top: 25px;
    max-width: 300px;
   
    
   
  }
}

.boxtextcontato {
  display: flex;
  flex-direction: column;
  gap: 10px;

  h3 {
    margin-bottom: 4px;
  }
}

.line {
  display: flex;
  align-items: center;
  gap: 8px;
}

.icon {
  width: 18px;
  height: 18px;
}

.boxtextredes {
  h3 {
    margin-bottom: 8px;
  }

  p {
    cursor: pointer;
  }
}

.copy {
  border-top: 1px solid #333;
  text-align: center;
  padding: 1.5rem 1rem;
  font-size: 0.85rem;
  background: black;
  color: white;
}
@media (max-width: 786px) {
  .boxfooter {
    padding: 3rem 1.5rem;
    justify-content: center;
    text-align: center;
    font-size: 0.85rem;
  }

  .boxtextcontato,
  .boxtextredes {
    align-items: center;
  }
}